*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

body{
    display: flex;
    background-color: #2f2f2f;
    margin-top: 80px;
}

button {
    background-color: #1f1f1f;
    border: none;
    width: 300px;
    height: 60px;
    margin: 20px;
}

button:hover{
    background-color: #2f2f2f;
}

h1 {
    font-size: 200%;
    margin: 80px 0px 90px 0px
}

.mainMenu{
    display: flex;
    flex-direction: column;
    background-image: url('assets/background.png');
    width: 1200px;
    height: 800px;
    margin: auto;
    align-items: center;
}

.game {
    display: none;
    text-align:center;
}

.settingMenu {
    display: none;
    flex-direction: column;
    background-image: url('assets/background.png');
    width: 1200px;
    height: 800px;
    margin: auto;
    align-items: center;
}

.game {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
}

.won,
.lost {
    display: none;
    flex-direction: column;
    background-image: url('assets/background.png');
    width: 1200px;
    height: 800px;
    margin: auto;
    align-items: center;
}