*{
    margin: 1px;
}

body{
    width: 100vw;
}

body nav {
    background-color: black;
}

body nav ul {
    display: flex;
    list-style: none;
}

body nav ul li {
    margin: 5px;
}

body nav ul li a {
    color: white;
    text-decoration: none;
}

.DropDown-Content{
    display: none;
}

body main {
    width: 50%;
    margin: 20px
}

body main div h2{
    text-align: center;
}

body main div pre{
    border: 2px solid black;
    width: 50vw;
    height: 20vw;
    overflow: scroll;
}

.DropDown-Content{
    display: none;
    position: absolute;
    background-color: black;
}

.DropDown:hover .DropDown-Content{
    display: block;
}